@use "variables" as v;
@use "mixins" as m;

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: v.$space-4;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
